body {
    margin: 0px;
    padding: 0px;
    background-image: url('/TSP-UI/images/background.jpg');
    color: #FFFFFF;
}

#forms {
	margin:0 auto;
	width:500px;
	height:20px;
	text-align:right;
}

#game, #timer{
	margin:0 auto;
	width:500px;
	height:auto;
}

input{
	background-color:transparent;
	outline: none;
    border-color: #9ecaed;
    box-shadow: 0 0 10px #9ecaed;
    color:#FFFFFF;
}

#container {
	margin:0 auto;
	width:500px;
	height:500px;
	border-radius: 10px 10px 10px 10px;
	-moz-border-radius: 10px 10px 10px 10px;
	-webkit-border-radius: 10px 10px 10px 10px;
}

#start {
    visibility: hidden;
    position: absolute;
    left: 0px;
    top: 0px;
    width:100%;
    height:100%;
    text-align:center;
    z-index: 1000;
	background-color:grey;
	opacity:1;
}

#start div {
    width:300px;
    margin: 100px auto;
    background-color: #fff;
    border:1px solid #000;
    padding:15px;
    text-align:center;
}

#loading {
	position: absolute;
	top:200px;
	left:600px;
}